*.opensdf

*.sdf

*.sdf

*.suo

*.tss

*.pyc

*.ilk
*.tlog

*.pdb

*.idb
*.log
*.tlog
*.lastbuildstate
*.obj

*.ipch
*.filters
*.vcxproj*
*.cache
src/Debug/

src/Release/

src/ipch/

src/SSYLib/Release/

src/SSYLib/Debug/

readme.textile

.svn/

.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.res