*.opensdf

*.sdf

*.sdf

*.suo

*.tss

*.pyc

*.ilk
*.tlog

*.pdb

*.idb
*.log
*.tlog
*.lastbuildstate
*.obj

*.ipch
*.filters
*.vcxproj
*.cache
src/Debug/

src/Release/

src/ipch/

src/SSYLib/Release/

src/SSYLib/Debug/

readme.textile

.svn/
